<form action="/robots/<%= @robot.name %>" method="post">
  <input type="hidden" name = "_method" value="put">
  <h3>Edit the robot slave:</h3>
  <h5>Name:</h5>
  <input type='test' name='robot[name]' value="<%= @robot.name %>"/></textarea><br/>
  <h5>Department:<h5/>
  <input type='test' name='robot[department]' value="<%= @robot.department %>"/></textarea><br/>
  <h5>Date Hired:<h5/>
  <input type='test' name='robot[datehired]' value="<%= @robot.date_hired %>"/></textarea><br/>
  <h5>Birthdate:<h5/>
  <input type='test' name='robot[birthdate]' value="<%= @robot.birthdate %>"/></textarea><br/>
  <h5>City:<h5/>
  <input type='test' name='robot[city]' value="<%= @robot.city %>"/></textarea><br/>
  <h5>State:<h5/>
  <input type='test' name='robot[state]' value="<%= @robot.state %>"/></textarea><br/><br/>
  <input type='submit'/>
</form>
