<a href="/robots">Robot Index</a>

<h1><%= @robot.name %></h1>

<h5>Department</h5>
<p><%= @robot.department %></p>
<h5>Date Hired</h5>
<p><%= @robot.date_hired %></p>
<h5>City</h5>
<p><%= @robot.city %></p>
<h5>State</h5>
<p><%= @robot.state %></p>
<h5>Birthdate</h5>
<p><%= @robot.birthdate %></p>
<a class="waves-effect waves-light btn" href="/robots">Back to RoboSlave Directory</a>
